# This notebook give us the final results for both models and al months together
# We can compare those results to our initials baselines models

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import keras
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt
from matplotlib import pyplot
from placed_functions import *
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import joblib


from lightgbm import plot_importance
from lightgbm import LGBMClassifier

Using TensorFlow backend.

# Compute all profit

List of month needed to be done : ['01', '02','03','05', '06','07', '08'] to have all 470 races

In [2]:
all_month = ['01', '02','03','05', '06','07', '08']


DL = []
lgbm = []
result = []
percentage_dl = []
percentage_lgbm = []
percentage_conso = []
hm_bets= []

for month in all_month:
    print(f'The month is {month}')
    
    A = prepare_and_split_data_placed(pd.read_hdf(f'../data/{month}_train_runners.h5','features'),pd.read_hdf(f'../data/{month}_test_runners.h5','features'))
    
    if A !=False :
        X_train, y_train, X_test, y_test, y_train_value, y_test_value, X_test_init = A

        profit_DL, profit_lgbm, pred_proba_dl, pred_proba_lgbm, profil_conso,perc_dl,perc_lgbm,perc_conso, hm_bet = compute_profil(month, X_train, y_train, X_test, y_test, y_train_value, y_test_value, X_test_init)
 

        DL.append([month,profit_DL,pred_proba_dl])
        lgbm.append([month,profit_lgbm,pred_proba_lgbm])
        result.append(profil_conso)
        percentage_dl.append(perc_dl)
        percentage_lgbm.append(perc_lgbm)
        percentage_conso.append(perc_conso)
        hm_bets.append(hm_bet)
        
    else :
        pass

The month is 01
shape of the x_train:  (5798, 1618)
shape of the y_train:  (5798, 14)
shape of the X_test:  (83, 1618)
shape of the y_test:  (83, 14)

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

The month is 02
shape of the x_train:  (5881, 1618)
shape of the y_train:  (5881, 14)
shape of the X_test:  (68, 1618)
shape of the y_test:  (68, 14)

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

The month is 03
shape of the x_train:  (5949, 1618)
shape of the y_train:  (5949, 14)
shape of the X_test:  (68, 1618)
shape of the y_test:  (68, 14)

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

The month is 05
shape of the x_train:  (6017, 1618)
shape of the y_train:  (6017, 14)
shape of the X_test:  (20, 1618)
shape of the y_test:  (20, 14)

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

The month is 06
shape of the x_train:  (6037, 1618)
shape of the y_train:  (6037, 14)
shape of the X_test:  (10, 1618)
shape of the y_test:  (10, 14)

/opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

The month is 07
shape of the x_train:  (6047, 1618)
shape of the y_train:  (6047, 14)
ERROR Can't do this set
The month is 08
shape of the x_train:  (6047, 1618)
shape of the y_train:  (6047, 14)
ERROR Can't do this set

In [3]:
# We prepare our data to display the final table

sets = [dl[0] for dl in DL]
deep_l = [dl[1] for dl in DL]
lightgbm = [lg[1] for lg in lgbm]
sets.append('Total')
deep_l.append(sum(deep_l))
lightgbm.append(sum(lightgbm))
result.append(sum(result))
p_dl = percentage_dl
p_dl.append(round(np.mean(p_dl),2))
p_lgbm = percentage_lgbm
p_lgbm.append(round(np.mean(p_lgbm),2))
p_conso = percentage_conso
p_conso.append(round(np.mean(p_conso),2))
bets = hm_bets
bets.append(sum(hm_bets))

V = []
for i in range(len(sets)):
    V.append([sets[i],bets[i], deep_l[i],p_dl[i], lightgbm[i],p_lgbm[i], result[i], p_conso[i]])

In [4]:
consolidated_result = pd.DataFrame(V, columns = ["Set"," # bets", "DL profit $","DL percentages %", "lgbm profit $","lgbm percentages % ",
                                                 "consolidated profit $","consolidated percentage %"])
consolidated_result

,Set,# bets,DL profit $,DL percentages %,lgbm profit $,lgbm percentages %,consolidated profit $,consolidated percentage %
0,01,248,-45.7,30.65,-54.5,40.32,-42.0,38.71
1,02,204,477.2,31.86,446.5,47.06,426.6,43.63
2,03,204,-35.6,33.33,-35.3,43.63,-23.2,44.12
3,05,60,-15.7,28.33,-13.8,43.33,-21.5,36.67
4,06,30,-12.8,30.00,-4.7,40.00,-3.2,43.33
5,Total,746,367.4,30.83,338.2,42.87,336.7,41.29

In [5]:

consolidated_result.columns = pd.MultiIndex.from_tuples([
            (  'Set',  ''),
            (  '# bets',  ''),
            (  'Deep Learning',  'profit $'),
            (  'Deep Learning',  '% of successful bets'),
            (  'LGBM',  'profit $'),
            (  'LGBM',  '% of successful bets'),
            (  'Ensemble Model',  'profit $'),
            (  'Ensemble Model',  '% of successful bets'),])

In [6]:
consolidated_result

     Set # bets Deep Learning                          LGBM  \
                     profit $ % of successful bets profit $
0     01    248         -45.7                30.65    -54.5
1     02    204         477.2                31.86    446.5
2     03    204         -35.6                33.33    -35.3
3     05     60         -15.7                28.33    -13.8
4     06     30         -12.8                30.00     -4.7
5  Total    746         367.4                30.83    338.2

                       Ensemble Model
  % of successful bets       profit $ % of successful bets
0                40.32          -42.0                38.71
1                47.06          426.6                43.63
2                43.63          -23.2                44.12
3                43.33          -21.5                36.67
4                40.00           -3.2                43.33
5                42.87          336.7                41.29